# ⚠️ Este archivo es solo de ejemplo.
# Cópialo y renómbralo como .env en la raíz del proyecto.
# Luego coloca tus propias credenciales de base de datos.

DB_NAME=           # ← Tu nombre de base de datos (ej. ApiRest)
DB_USER=           # ← Tu usuario de MySQL (ej. root)
DB_PASSWORD=       # ← Tu contraseña de MySQL (ej. 12345)
DB_HOST=localhost  # ← Normalmente localhost
DB_PORT=3306       # ← Puerto por defecto de MySQL